@charset "UTF-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	}
#fonBlock{
	background-color:#C8D7C0;
	}
h1{
	color:#ED0509;
	font-size:30px;
	}
.box{
	background-color:#363434;
	margin-bottom:20px;
	}
.first-box {
	background-color:#6B7877;
	}
h2{
	color:#040729;
	}
.box h2{
	color:#fff;
	}
.media_box h2{
	color:#234127;
	}
p,
h2{
	font-size:16px;
	}

